.login-page {
    background: url('/public/Images/login-bg.png') rgb(255, 94, 94);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: white;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 15px;
    padding-top: 100px;
    width: 1200px;
}

.input-container {
    position: relative;
    width: fit-content;
  }
  
  .input-container .icon-class {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    color: #999; /* Change color as needed */
  }
  
  .input-container input {
    padding: 10px 55px;
    width: 100%;
  }