.login-page {
    background: url('/public/Images/login-bg.png') rgb(255, 94, 94);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: white;
    position: absolute;
}