.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.left-section {
}

.brand-name {
    font-size: 36px;
}

.brand-name-highlight {
    color: #FF6767;
}

.middle-section {
}

.search-box-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-box {
    padding: 8px;
    border-radius: 8px;
    width: 700px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.search-icon {
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    background-color: #FF6767;
    right: 0;
}

.right-section {
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
}

.icons {
    background-color: #FF6767;
    margin-right: 10px;
    padding: 4px;
    border-radius: 6px;
}

.date-container {
    margin-left: 45px;
}

.date {
    color: rgb(3, 171, 255);
}