.register-page {
    background: url('/public/Images/login-bg.png') rgb(255, 94, 94);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    background-color: white;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    border-radius: 15px;
    height: 650px;
    width: 1200px;
}

.register-input-container {
    position: relative;
    width: fit-content;
}
  
.register-input-container .icon-class {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}
  
.register-input-container input {
    padding: 15px 55px;
}

.register-left-section {
    margin-top: -10px;
    margin-left: 0;
}

.register-right-section h1 {
    margin-bottom: 25px;
}

.register-input-box {
    margin-bottom: 15px;
    border: none;
    background-color: antiquewhite;
    height: 30px;
    width: 450px;
    border-radius: 10px;
}

.register-terms-section {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: first baseline;
    gap: 15px;
}

.register-btn {
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #FF6767;
    transition: background-color 0.2s;cursor: pointer;
    margin-bottom: 5px;
}

.register-btn:hover {
    background-color: #fa2323;
}

.register-brand-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-right-section {
    margin-top: -25px;
    margin-right: 60px;
}

.register-brand-container {
    margin-top: 15px;
}

.register-brand-container p a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(68, 162, 255);
}