.sidebar-section {
    background-color: #FF6767;
    color: white;
    max-width: 330px;
    margin-top: 150px;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.15);
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.profile-img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgb(255, 222, 222);
    position: absolute;
    top: -110px;
}

.profile-detail {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 17px;
    font-weight: bold;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar-menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar-menu-items li,
.logout-btn-container {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: font-size 0.3s;
}

.sidebar-icons {
    margin-right: 20px;
}

.sidebar-menu-items li:hover,
.logout-btn-container:hover {
    background-color: rgba(256, 256, 256, 0.3);
    font-size: 21px;
}

.sidebar-menu-items li.active {
    background-color: white;
    color: #FF6767;
    font-size: 21px;
    cursor: auto;
}