.tasks-container {
    position: absolute;
    left: 500px;
    border: 2px solid lightgray;
    padding: 20px;
}

.todo {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: rgb(251, 251, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.todo-header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-left span {
    font-size: 18px;
    margin-left: 10px;
    color: #FF6767;
}

.header-right {
    display: flex;
    align-items: center;
    color: gray;
}

.header-right:hover {
    cursor: pointer;
    color: #FF6767;
}

.header-right span {
    font-size: 14px;
    margin-left: 5px;
}

.plus-icon { 
    color: #FF6767;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.plus-icon:hover {
    background-color: #FF6767;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.header-date span {
    margin-left: 10px;
    color: rgb(179, 179, 179);
    font-weight: bold;
}