.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 1000; /* Ensure it covers other elements */
  }

.tasks-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    left: 450px;
    border: 2px solid lightgray;
    padding: 20px;
}

.todo {
    width: 49%;
    border: none;
    border-radius: 10px;
    background-color: rgb(251, 251, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.todo-header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
}

.todo-container {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 14px 12px;
    margin-top: 18px;
    cursor: pointer;
}

.old-container {
    margin-top: 35px;
    border-top: 2px solid lightgray;
}

.old {
    margin-top: 30px;
    margin-bottom: 30px;
}

.todo-content-header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin-bottom: 8px;
}

.todo-content-header h3 {
    width: 350px;
}

.todo-bullet-header {
    display: flex;
    align-items: first baseline;
}

.todo-bullet-header h3 {
    margin-left: 15px;
}

.outer-circle {
    width: 14px;
    height: 14px;
    background-color: #fa2323;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outer-circle-progress {
    width: 14px;
    height: 14px;
    background-color: #0c5cfb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.todo-content {
    display: flex;
    align-items: center;
    margin-left: 29px;
    width: 380px;
}

.todo-img {
    width: 95px;
    height: 80px;
    margin-left: 10px;
    border-radius: 10px;
}

.todo-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 25px;
    margin-left: 29px;
}

.status-priority span {
    color: rgb(29, 187, 240);
}

.status span {
    color: #FF6767;
}

.status-progress span {
    color: #0c5cfb;
}

.status-date {
    color: gray;
}

.header-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-left span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: #FF6767;
}

.header-right {
    display: flex;
    align-items: center;
    color: gray;
}

.header-right:hover {
    cursor: pointer;
    color: #FF6767;
}

.header-right span {
    font-size: 14px;
    margin-left: 5px;
}

.plus-icon { 
    color: #ff1b1b;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.plus-icon:hover {
    background-color: #FF6767;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.header-date span {
    margin-left: 10px;
    color: rgb(179, 179, 179);
    font-weight: bold;
}

/* Progress Bar section Styles */

.completed-tasks-container {
    border: none;
    background-color: rgb(251, 251, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 41px 25px;
    border-radius: 10px;
    margin-top: 20px;
}

.completed-tasks {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 18px;
    cursor: pointer;
}

.task-status {
    width: 420px;
    border: none;
    margin-left: 25px;
}

.progress-bar-container {
    border: none;
    background-color: rgb(251, 251, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 45px 25px;
    border-radius: 10px;
}

.progress-bar-header div {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.progress-bar-header span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: #FF6767;
} 

.progress-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bars div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prograss-bar-tip-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.prograss-bar-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prograss-bar-tip span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.complete-bar {
    background-color: rgb(9, 204, 70);
}

.inprogess-bar {
    background-color: blue;
}

.notstarted-bar {
    background-color: red;
}

.completion-task-header > div {
    display: flex;
    align-items: center;
}

.completion-task-header span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    color: #FF6767;
}

.outer-circle-complete-task {
    width: 14px;
    height: 14px;
    background-color: rgb(9, 204, 70);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.completion-content-header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin-bottom: 8px;
}

.completion-content-header h4 {
    width: 270px;
}

.completion-bullet-header {
    display: flex;
    align-items: first baseline;
}

.completion-bullet-header h4 {
    margin-left: 15px;
}

.completion-content {
    display: flex;
    align-items: center;
    margin-left: 29px;
    width: 300px;
}

.status-completion {
    margin-bottom: 10px;
}

.status-completion span {
    color: rgb(9, 204, 70);
}

.completion-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    margin-left: 29px;
}