.form-container {
    width: 700px;
    border: none;
    position: absolute;
    left: -50px;
    top: -2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 50px 50px 30px 50px;
    border-radius: 15px;
    z-index: 1000;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header-left {
    text-decoration: underline;
    text-decoration-color: red;
    line-height: 4px;
    font-size: 20px;
    font-weight: bold;
}

.form-header-right {
    text-decoration: underline;
    text-decoration-color: black;
    line-height: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.form-header-right:hover {
    color: #FF6767;
    text-decoration-color: #FF6767;
}

.form-content {
    margin-top: 40px;
    display: flex;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 2px;
}

.task-date-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task-date label {
    margin-right: 20px;
}

.task-title,
.task-priority {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 650px;
}

.task-priority {
    margin-top: 10px;
}

.task-description-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

.input-box {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
}

.task-description {
    display: flex;
    flex-direction: column;
}

.task-image-container {
    display: flex;
    flex-direction: column;
}

.radio-bullet {
    margin-left: 5px;
    margin-right: 15px;
}

.task-priority div {
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: gray;
}

.priority-color-palatte {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 5px;
}

.extreme {
    background-color: red;
}

.moderate {
    background-color: rgb(47, 99, 255);
}

.low {
    background-color: rgb(8, 212, 8);
}

.submit-btn {
    margin-top: 25px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #FF6767;
    cursor: pointer;
}